<div class="container">
    <div class="row">  
        <div class="col-xs-12">
        <div class="page-header">
            <h1>Odd-Even "Game"</h1>
        </div>
        <app-game-control (gameEvent)="onGameEvent($event)"></app-game-control>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body">
                <div *ngFor="let value of gameValues">
                    <app-even *ngIf="value % 2 == 0; else odd" [value]="value"></app-even>
                    <ng-template #odd>
                        <app-odd [value]="value"></app-odd>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
